{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Barrio&family=Delius&family=Shadows+Into+Light&display=swap" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css2?family=Barrio&family=Shadows+Into+Light&display=swap" rel="stylesheet">
    </head>
    <body> 
        <p class="Intro">Track your spending, save for your dreams, and keep your wallet happy !
            Let’s make every penny count—together !✨</p> 
        <button onclick="location.href = '/source/'" class="b3">
            Continue
        </button>
    </body>
</html>