{% extends 'base.html' %}

{% block content %}

<div>
    <div>
        <h1> {{ source.label}} </h1>
    </div>
    <div>
    {% if expense %}
        <table >
            <thead>
            <tr>
                <th scope="col">Amount</th>
                <th scope="col">Date</th>
            </tr>
            </thead>

            {% for exp in expense %}
            <tbody>
            <tr>
            
               
                <td class="date">{{exp.date}}</td>
                <td class="amt">{{exp.expense}}</td>
                
                <td class="delete">
                    <a href="{% url 'delete-expense' exp.id source.id %}">
                        <i class="fa fa-trash delete"></i>
                    </a>
                </td>
               
                
            </tr>
            
            </tbody>
            {% endfor %}
            <td class="date">Total</td>
            <td class="amt">{{ total_amount }}</td>

        </table>
    {% endif %}
</div>

    <div>
        <div class="buttondiv">
            <div>
            <a href="{% url 'source' %}">
                <button class="b3" onclick="source">Back</button>
            </a>
            </div>
           
            <div>
            <a href="{% url 'expense' source.id %}">
                <button class="b3" onclick="source">Add Expense</button>
            </a>
        </div>

        </div>
    </div>

</div>






{% endblock %}